<section class="favorites">
  <div class="container">
    <h1>Favorites</h1>
    <div class="row">
      {{#each favorites}}
      <div class="col-md-3 search-result-item ">
        {{#each ../ratings}}
        {{#is objectId ../objectId}}
        <p>Your rating: {{rating}}</p>
        {{else}}
        <a href="/review/{{imdbid}}">Add a rating</a>
        {{/is}}
        {{/each}}
        <div>
          <img class="img-fluid" src="{{poster}}" alt="poster">
          {{title}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>