<section class="search-results-bg">
  <div class="container search-result">
    <h1>Favorites</h1>

    <div class="row search-result-item-box">
      {{#each favorites}}

      <div class="col-md-3 search-result-item">


        <div class="search-result-image">
          <img class="search-result-image-img" src="{{poster}}" alt="poster">


          <div class="search-result-image-overlay search-result-image-overlay--blur">

            <div class="favorites-result-delete-fav">
              <form action="/favorites/{{id}}/delete" method="POST">
                <button type="submit">X</button>
              </form>
            </div>

            <div class="search-result-image-title">
              <h2>{{title}}</h2>
            </div>

            <div class="search-result-image-details">
          
              {{#contains ../ratingsIds objectId}}
              {{#each ../ratings}}
              {{#is objectId ../objectId}}
              <p>Your rating: {{rating}}</p>
              {{/is}}
              {{/each}}
              {{else}}
              <a href="/review/{{imdbid}}">Add a rating</a>
              {{/contains}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>