<section class="search-results-bg">
  <div class="container search-result">
    <h1>Favorites</h1>

    <div class="row search-result-item-box">
      {{#each favorites}}

      <div class="col-md-3 search-result-item">


        <div class="search-result-image">
          <img class="search-result-image-img" src="{{poster}}" alt="poster">


          <div class="search-result-image-overlay search-result-image-overlay--blur">

            <div class="favorites-result-delete-fav">
              <form action="/favorites/{{id}}/delete" method="POST">
                <button class="favorites-result-delete-fav-btn" type="submit"><img src="../images/add-favorite.png"
                    alt=""></button>
              </form>
            </div>

            <div class="search-result-image-title">
              <h2>{{title}}</h2>
            </div>

            <div class="search-result-image-details">

              {{#contains ../ratingsIds objectId}}
              {{#each ../ratings}}
              {{#is objectId ../objectId}}
              <div class="favorites-rating-box">
                <p class="favorites-rating">{{rating}}</p>
                <img src="../images/star.png" alt="">
              </div>
              {{/is}}
              {{/each}}
              {{else}}
              <a class="fix" href="/review/{{objectId}}">Add a rating</a>
              {{/contains}}
            </div>
            <form action="/hub/{{id}}" method="POST">
              <button class="teste2" type="submit"><img src="../images/share1.png" alt=""></button>
            </form>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>