<section class="hub-bg">
  <div class="container search-result">
    <h1>Hub</h1>

    <div class="hub-div-form-box-box">
      <div class="row hub-div-form-box">
        {{#each allShares}}
        <div class="hub-div-form-user-box">

          <div class="abc">
            <div class="hub-div-form-user">
              <div>
                <img src="{{user.imageUrl}}" alt="user img">
                <h2>{{user.username}}</h2>
              </div>
              <div class="search-result-image-overlay search-result-image-overlay--blur fit">
                <div class="favorites-result-delete-fav">
                </div>

                <div class="luis">
                  <p class="luis-title">City</p>
                  <p class="luis-title-box">{{user.city}}</p>
                  <p class="luis-title">Interests</p>
                  <p class="luis-title-box">{{user.interests}}</p>
                </div>
              </div>

            </div>



            <div class="hub-div-form-poster-box">

              <div class="hub-div-form-poster">
                <img src="{{poster}}" alt="poster img">
                <div class="hub-div-form-rating">
                  <p>{{rating.rating}}</p>
                  <img src="../images/star.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}

      </div>
    </div>
  </div>
</section>

{{!-- <div class="search-result-image-overlay search-result-image-overlay--blur">

  <div class="favorites-result-delete-fav">
    <a href="#"><img src="../images/add-favorite.png" alt=""></a>
  </div>

  <div class="search-result-image-title">
  </div>

  <div class="search-result-image-details">
    {{#each ../ratings}}
    {{#is objectId ../objectId}}
    <p>Your rating: {{rating}}</p>
    {{else}}
    <a href="/review/{{imdbid}}">Add a rating</a>
    {{/is}}
    {{/each}}
  </div>
</div>
</div>


</div>
{{/each}}
</div>
</div>
</section> --}}