<h1>{{movie.title}}</h1>
<hr>
<p>Year: {{movie.year}}</p>
<img src="{{movie.poster }}" alt="{{movie.title}}" />
<form action="/movie-details/{{movie.imdbid}}/rating" method="POST">
  <label>Rating</label>
  <input type="number" name="rating" min="1" max="5" />
  <button type="submit">Submit</button>
</form>
<h1>NODEMAILER</h1>
<form action="/send-email" method="post">
  <label for="">Email</label>
  <input type="email" name="email" id="">
  <label for="">Subject</label>
  <input type="text" name="subject" id="">
  <label for="">Message</label>
  <textarea type="text" name="message" id=""></textarea>
  <button type="submit">Submit</button>
</form>