<h1>{{object.title}}</h1>
<hr>
<p>Year: {{object.year}}</p>
<img src="{{object.poster }}" alt="{{object.title}}" />
<form action="/review/{{imdbid}}" method="POST">
  <button type="submit">+</button>
</form>