<h1>{{theObjectName}}</h1>
<div class="container">
  {{#each objects}}
  <div class="row">
    <div class="col-md-4">
      <img src="{{poster}}" alt="poster img">
      <h2>{{title}}</h2>
    </div>
    <a href="/details/{{imdbid}}">See details</a>

    <a href="/review/{{imdbid}}">+</a>

    {{!-- <form action="/review/{{imdbid}}" method="POST">
      <button type="submit">Add Review</button>
    </form> --}}
  </div>
  {{/each}}
</div>