<h1>connected</h1>
{{theObjectName}}
<ul>

  {{#each objects}}
<h3>
    <a href="/movie-details/{{title}}">
       {{title}}
    </a>
</h3>
  <img src="{{poster}}" alt="">
  <li>Year: {{year}}</li>
  <li>{{type}}</li>

  {{/each}}
</ul>




