<h1>{{theObjectName}}</h1>
<div class="container">
  {{#each objects}}
  <div class="row">
    <div class="col-md-4">
      <img src="{{poster}}" alt="poster img">
      <h2>{{title}}</h2>
    </div>
    <a href="/details/{{imdbid}}">See details</a>

    <a href="/review/{{imdbid}}">+</a>

    {{!-- <form action="/review/{{imdbid}}" method="POST">
      <button type="submit">Add Review</button>
    </form> --}}
  </div>
  {{/each}}
</div>


{{!-- <--!teste para o mail!--> --}}
<h1>NODEMAILER</h1>
<form action="/send-email" method="post">
  <label for="">Email</label>
  <input type="email" name="email" id="">
  <label for="">Subject</label>
  <input type="text" name="subject" id="">
  <label for="">Message</label>
  <textarea type="text" name="message" id=""></textarea>
  <button type="submit">Submit</button>
</form>