<h1>{{theObjectName}}</h1>
<div class="container">
  {{#each objects}}
  <div class="row">
    <div class="col-md-4">
      <img src="{{poster}}" alt="poster img">
      <h2>{{title}}</h2>
      <h2>{{type}}</h2>
    </div>
    <a href="/movie-details/{{imdbid}}">See details</a>
    <form action="/favorites/{{imdbid}}" method="POST">
      <button type="submit">Add to fav.</button>
    </form>
  </div>
  {{/each}}
</div>